<div class="container-fluid">
  <div class="row">
    <!-- evaluation and recheck button -->

    <div class="col-md-12" style="padding-top: 2rem;">

            <%= render partial:"rating3" %>
      <br><br>


    </div>
    <div style="text-align: center; padding-top: 5rem; color: #3d3e40;">
      <h4>Check below to see what information is visible to anyone on Facebook</h4>
    </div>

  </div>

  <div class="row">

  </div>
  <!-- public information -->


  <div class="row">

    <div class="col-md-3 col-md-offset-1" >
      <div class="panel panel-blue">
        <div class="panel-heading"><b>Public profile information</b>
        </div>

        <div class="panel-body-public">

<br>



    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <img src="<%= user.photo %>" style="height:5rem; width: 5rem; padding-left: 0px;">
      </div>
      <div class="col-md-8" style="text-align: left;">
        <b> <%= user.name %> <%=user.surname%></b>
      </div>


  </div>
  <div class="row" style="padding-top: 3rem;">
    <div class="col-md-12">
    <ul>
      <li class="spaced"> <b>Email:</b> <%= user.email %></li>
      <li class="spaced"> <b>Phone Number:</b> <%= user.phone %></li>
      <li class="spaced"> <b>Works </b> <%= user.work %></li>
      <li class="spaced"> <b>Adress:</b> <%= user.address %></li>
      <li class="spaced"> <b> Relationship status:</b> <%= user.relationship %></li>
      <li class="spaced"> <b> last location tag: </b> was at <%= user.location %> 3 minutes ago </li>

    </ul></div>
  </div>





    </div>
    </div>
    </div>

    <div class="col-md-3" > <!-- public photos  and tagged in -->

      <div class="panel panel-blue">

        <div class="panel-heading">
          <b>Public Photos</b>

        </div>

           <div class="panel-body-public">
             <br>
        <div class="row"  >
<div class="col-md-12" style="text-align: center; " >



          <ul class="list-inline">



              <% (1..9).each do |i| %>
                <li data-toggle="modal" data-target="#myModal"><a href="#myGallery" data-slide-to="<%= i-1 %>"><div class="image-small"><img class="img-rounded" src="assets/picture<%=i%>"></div><br>
                </a></li>
            <% end %>


            <!--end of thumbnails-->
          </ul>




        </div>
        </div>
      </div>


      <!--begin modal window-->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="pull-left">My Gallery Title</div>
              <button type="button" class="close" data-dismiss="modal" title="Close"> <i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">

              <!--begin carousel-->

              <div id="myGallery" class="carousel slide" data-interval="false">
                <div class="carousel-inner">

                  <div class="item active"> <div class="image-modal"><img src="assets/picture1.jpg" alt="item0"></div>
                    <div class="carousel-caption">
                      <h3>Heading 3</h3>
                      <p>Slide 0  description.</p>
                    </div>
                  </div>

                  <% (2..9).each do |i| %>
                  <div class="item"> <img src="assets/picture<%=i%>" alt="item<%= i-1 %>">
                    <div class="carousel-caption">
                      <h3>Heading 3</h3>
                      <p>Slide <%= i-1 %>  description.</p>
                    </div>
                  </div>
                  <% end %>






                  <!--end carousel-inner--></div>
                <!--Begin Previous and Next buttons-->
                <br><br><a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"> <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></a> <a class="right carousel-control"  href="#myGallery" role="button" data-slide="next"> <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></a>
                <!--end carousel--></div>

              <!--end modal-body--></div>
            <div class="modal-footer">

              <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
              <!--end modal-footer--></div>
            <!--end modal-content--></div>
          <!--end modal-dialoge--></div>
        <!--end myModal-->></div>





</div>
    </div>

  <!-- public posts -->

    <div class="col-md-4" >

      <div class="panel panel-blue">

        <div class="panel panel-heading">
          <b> Public Posts </b>
        </div>

        <div class="panel-body-public">


          <div class="row">
        <div class="col-md-12" >

          <div class="tab-post-list">

            <ul>

              <% @fbp.each do |fbp| %>


                  <li class="tab-post-list-wrap">
                    <a href="#"><%=user.name%></a>
                    <small>
                      <abbr title="<%=fbp.title%>"> <%= fbp.date %>  months ago</abbr>
                    </small>
                    <p><%= fbp.body %></p>
                  </li>

              <%end%>

            </ul>
          </div>



        </div></div>

      </div>
      </div>

    </div>

  </div></div>










