
<div class="col-md-4 hidden-lg hidden-xl hidden-md" style=";"> <!-- second panel -->
  <div class="panel panel-default tile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
    <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">


      <div class="container-fluid"> <!-- title with line -->
        <div class="row row-bordered">
          <div class="col-xs-12 text-center">
            <h3 class="text-primary"> <strong>Privacy Policy</strong> </h3>
          </div>
        </div>
      </div>

      <div class="container-fluid"> <!-- content with bottom line -->
        <div class="row row-bordered fix">
          <div class="col-xs-12 text-justify min " >
            <p style="font-size: 16px;"> <br>The social network can collect information about your activity on the website as well as what you do on other websites equipped with a facebook badge. <br>
              the information collected can be shared between the companies of the Facebook group <br>
              you can obtain and delete your information any time <br></p>
          </div>
        </div>
      </div>

      <div class="container-fluid"> <!-- content with bottom line -->
        <div class="row" style="padding-top: 2rem;">
          <div class="col-xs-12 ">

            <!-- button and modal -->

            <button type="button" class="btn btn-primary alignright" data-toggle="modal" data-target=".policy-modal">Show more</button>

            <div class="modal fade policy-modal" tabindex="-1" role="dialog" aria-labelledby="modal policy">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <%= render partial: "facebook_setting/policy" %>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 hidden-lg hidden-xl hidden-md"> <!-- third panel -->
  <div class="panel panel-default tile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
    <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">


      <div class="container-fluid"> <!-- title with line -->
        <div class="row row-bordered">
          <div class="col-xs-12 text-center">
            <h3 class="text-primary"> <strong>Public information</strong> </h3>
          </div>
        </div>
      </div>

      <div class="container-fluid"> <!-- content with bottom line -->
        <div class="row row-bordered fix">
          <div class="col-xs-12 text-justify min">
            <div class="text-center">
              <br><br>
              <i class="fa fa-exclamation-circle fa-5x" style="color:red;" aria-hidden="true"></i>

              <br>
              <h3>Your profile is only 20% Private</h3>

            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid"> <!-- content with bottom line -->
        <div class="row" style="padding-top: 2rem;">
          <div class="col-xs-12 ">

            <!-- button and modal -->

            <button type="button" class="btn btn-primary alignright" data-toggle="modal" data-target=".public-modal">Show more</button>

            <div class="modal fade public-modal" tabindex="-1" role="dialog" aria-labelledby="modal public">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <%= render partial: "facebook_setting/public" %>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <h3 style="text-align: center; color: #5c5a5e; padding-top: 3rem;"> Here is a list of the available privacy settings. Click on a setting to show the details</h3>
</div>


<div style="text-align: center; padding-top: 5rem; padding-bottom: 3rem; color: #3d3e40;">
  <h3 style="color: #888888;padding-bottom:3rem;">Check below to see what information is visible to anyone on Facebook</h3>
</div>

<div class="row">

  <h3 style="text-align: center; color: #5c5a5e; padding-top: 3rem;"> The privacy policy is that document that most people agree too without reading it. Here are the main points:</h3>
</div>