<!-- setting description -->
<div class="row" style="">



  <div class="col-sm-6 ">

    <div class="panel panel-blue">

      <div class="panel-heading"> What is it for? </div>

      <div class="panel-body"> <%= @fbs.description %> </div>
    </div>
  </div>

  <!-- settings story -->

  <div class="col-sm-6 " style="">
    <div class="panel panel-blue">

      <div class="panel-heading"> What could happen if wrongly set? </div>

      <div class="panel-body"> <%= @fbs.story %> </div>
    </div>
    </div>
  </div>
<!-- second row -->


<div class="row " style="">

  <!-- settings default value -->

  <div class="col-md-4" style="">

    <div class="panel panel-blue">

      <div class="panel-heading"> Default value </div>

      <div class="panel-body"> <%= @fbs.default %> </div>
    </div>
  </div>

  <!-- settings recommended value -->

  <div class="col-md-4" style="">

    <div class="panel panel-blue">

      <div class="panel-heading"> Recommended Value </div>

      <div class="panel-body"> <%= @fbs.recommended %> </div>
    </div>
  </div>

  <!-- settings current value -->

  <div class="col-md-4" style="">

    <div class="panel panel-blue">

      <div class="panel-heading"> Your current value </div>

      <div class="panel-body"> <%= @fbs.current %> </div>
    </div>
  </div>
</div>
