<div class="row">

  <h3 style="text-align: center; color: #5c5a5e; padding-top: 3rem;"> The privacy policy is that document that most people agree too without reading it. Here are the main points:</h3>
</div>

<div class="row" style="padding-left: 10px; padding-top: 40px; padding-right: 10px;">
  <div class="col-md-3 col-md-offset-1">
    <div class="panel panel-blue">
      <div class="panel-heading">What info do they collect</div>

      <div class="panel-body">

      <div>

        <ul>
          <% @fbc.each do |fbc| %>

              <li style="padding-bottom: 1rem;"> <h5><%= fbc.description %> </h5>   </li><!-- here goes the description partial --><% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <!-- settings story -->

  <div class="col-md-4 ">
    <div class="panel panel-blue">
      <div class="panel-heading">What can they do with it?</div>

      <div class="panel-body">

      <div>
        <ul>
          <% @fbu.each do |fbu| %>

              <li style="padding-bottom: 1rem;"> <h5><%= fbu.description %> </h5>   </li><!-- here goes the description partial --><% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <!-- settings default value -->

  <div class="col-md-3">
    <div class="panel panel-blue">
      <div class="panel-heading">Who can they share it with?</div>

      <div class="panel-body">

      <div>
        <ul>
          <% @fbsell.each do |fbsell| %>

              <li style="padding-bottom: 1rem;"> <h5><%= fbsell.description %> </h5>   </li><!-- here goes the description partial --><% end %>
        </ul>
      </div>
    </div>
  </div>

  </div>

</div>