<!-- http://www.jquery2dotnet.com/ -->
<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="well well-sm rating-part">
      <div class="row " style="text-align: center">
        <h3><span class="label label-warning" > Your profile is 70% private</span>  </h3> <br> <br>

      </div>

      <div class="row" style="padding-bottom: 3rem;">
        <div class="col-md-10 col-md-offset-1">
        <div class="progress">
          <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 70%">
            <span class="sr-only"> </span>
          </div>

        </div>
<br>
          <div class="progress-meter">
            <div class="meter meter-left" style="width: 25%;"><span class="meter-text">Everything public</span></div>
            <div class="meter meter-left" style="width: 25%;"><span class="meter-text">Still pretty public</span></div>
            <div class="meter meter-right" style="width: 20%;"><span class="meter-text">Very private</span></div>
            <div class="meter meter-right" style="width: 30%;"><span class="meter-text">Almost there</span></div>
          </div>

      </div>
      </div>
    </div>
  </div>
</div>











