

  <div class="row">

    <h3 style="text-align: center; color: #5c5a5e; padding-top: 3rem;"> Here is a list of the available privacy settings. Click on a setting to show the details</h3>
  </div>
    <div class="row">


    <!-- settings links -->
<div class="col-md-12" style="padding-left: 3%;padding-right: 3%;">

    <div class="col-md-5" style=" padding-top: 40px; ">

      <div class="panel panel-blue">

        <div class="panel-heading">Privacy settings</div>


        <div class="list-group" style="overflow-y: auto;height: 400px;">
          <% @fbs.each do |fbs| %>
              <%= link_to fbs.name, {controller: 'facebook_setting', action: 'show', id: fbs.id, remote: true}, class: "list-group-item better" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- setting description -->

    <div class="col-md-7" style="padding-top: 40px;">

      <div id="desc">
        <!-- here goes the description partial -->
      </div>
    </div>
  </div>
  </div>




