<!-- http://www.jquery2dotnet.com/ -->
<div class="container-fluid">
    <div class="col-xs-12 col-md-10 pull-right ">
      <div class="well well-sm rating-part">
        <div class="row">
          <div class="col-xs-12 col-md-6 text-center" style="padding-left: 3rem; padding-right: 3rem;">
            <h3><span class="label label-danger">Your profile is only 20% private</span></h3>
            <div class="rating">

            </div>

          </div>
          <div class="col-xs-12 col-md-6">

            <div class="row rating-desc" >
              <div style="height: 1rem;"></div>

              <div class="col-xs-3 col-md-5 text-right" >
                Public Information
              </div>
              <div class="col-xs-8 col-md-7">
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                       aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40%</span>
                  </div>
                </div>
              </div>
              <!-- end 5 -->
              <div class="col-xs-3 col-md-5 text-right">
                Public Photos
              </div>
              <div class="col-xs-8 col-md-7">
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                       aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40%</span>
                  </div>
                </div>
              </div>
              <!-- end 4 -->
              <div class="col-xs-3 col-md-5 text-right">
                Public Posts
              </div>
              <div class="col-xs-8 col-md-7">
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                       aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40%</span>
                  </div>
                </div>
              </div>

            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </div>
  </div>

