
<div class="row">

  <h3 style="text-align: center; color: #5c5a5e; padding-top: 3rem;"> The privacy policy is that document that most people agree to without reading it. Here are the main points:</h3>
</div>

<div class="row" style="padding-left: 10px; padding-top: 40px; padding-right: 10px;">
  <div class="col-lg-4  col-md-8 col-md-offset-2 col-lg-offset-0 ">
    <div class="panel panel-blue">
      <div class="panel-heading">What info do they collect?</div>

      <div class="panel-body">

        <div class="list-group">


          <% @pinc.each do |pinc| %>


              <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= pinc.detail %>"> <h5><%= pinc.description %> </h5> </a>
              <!-- here goes the description partial --><% end %>

        </div>
    </div>
  </div>
  </div>

  <!-- settings story -->

  <div class="col-lg-4  col-md-8 col-md-offset-2 col-lg-offset-0">
    <div class="panel panel-blue">
      <div class="panel-heading">What can they do with it?</div>

      <div class="panel-body">

        <div class="list-group">


          <% @pinu.each do |pinu| %>


              <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=pinu.detail%>"> <h5><%= pinu.description %> </h5> </a>
              <!-- here goes the description partial --><% end %>

        </div>
    </div>
  </div>
  </div>
  <!-- settings default value -->

  <div class="col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2 ">
    <div class="panel panel-blue">
      <div class="panel-heading">Who can they share it with?</div>

      <div class="panel-body">

        <div class="list-group">


          <% @pinsell.each do |pinsell| %>


              <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=pinsell.detail%>"> <h5><%= pinsell.description %> </h5> </a>
              <!-- here goes the description partial --><% end %>

        </div>
    </div>
  </div>

  </div>

</div>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({html : true, container: 'body'})
    })
</script>