<!-- page content -->

<div class="row">
  <div class="col-md-12">
    <h1 class="page-header" style="color: #777777"> <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      Pinterest</strong> Privacy Dashboard </h1>

  </div>
</div>




      <!-- Welcome title -->

      <!-- welcome content -->
<div class="container-fluid">
  <div class="row hidden-md hidden-sm hidden-xs" style="height: 10rem;"></div>
  <div class="row hidden-lg hidden-xl" style="height: 2rem;"></div>
      <div class="row"  >




<div class="col-sm-10 col-sm-offset-2 col-md-12 col-md-offset-0 col-xl-10 col-xl-offset-1" >



        <div class=" col-md-5 col-md-offset-1  col-lg-4 col-lg-offset-0 " > <!-- first panel -->
          <div class="wrapper-tile">
          <div class="panel panel-default tile main-tile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
            <div class="panel-body" >

              <!-- title with line -->
                <div class="row row-bordered">
                  <div class="col-xs-12">
                    <h3 class=" text-center text-primary"> <strong>Privacy Settings</strong> </h3>
                  </div>
                </div>


               <!-- content with bottom line -->
                <div class="row row-bordered ">
                  <div class="col-xs-12 text-justify " style="margin-left: -2.5rem; margin-right: -5.5rem;" >
                    <br>
                    <ul style="font-size: 14px; ">
                      <li class="spaced"> Hide your profile from search engines <b> Enabled (hide)</b></li>
                      <li class="spaced"> Use sites you visit to improve which recommentations and ads you see <b> Disabled </b></li>

                    </ul>
                    <br>
                  </div>
                </div>

                <div class="row" style="padding-top: 2rem;">
                  <div class="col-xs-12 ">

                    <!-- button and modal -->

                    <button type="button" class="btn btn-primary alignright" data-toggle="modal" data-target=".settings-modal">Show more</button>

                    <div class="modal fade settings-modal" tabindex="-1" role="dialog" aria-labelledby="modal settings">
                      <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                          <%= render partial: "pinterest_setting/settings" %>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



  <div class="col-md-5  col-lg-4 col-lg-offset-0   " > <!-- second panel -->
    <div class="wrapper-tile">
      <div class="panel panel-default tile main-tile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
        <div class="panel-body" >

          <!-- title with line -->
          <div class="row row-bordered">
            <div class="col-xs-12">
              <h3 class=" text-center text-primary"> <strong>Privacy Policy</strong> </h3>
            </div>
          </div>


          <!-- content with bottom line -->
          <div class="row row-bordered ">
            <div class="col-xs-12 text-justify " style="margin-left: -2.5rem; margin-right: -5.5rem;" >
              <br>
              <ul style="font-size: 14px; ">
                <li class="spaced"> Collect information about interaction, device, visited websites </li><br>
                <li class="spaced"> To improve service, customize content, target ads, send updates</li>


              </ul>
              <br>
            </div>
          </div>

          <div class="row" style="padding-top: 2rem;">
            <div class="col-xs-12 ">

              <!-- button and modal -->

              <button type="button" class="btn btn-primary alignright" data-toggle="modal" data-target=".policy-modal">Show more</button>

              <div class="modal fade policy-modal" tabindex="-1" role="dialog" aria-labelledby="modal policy">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <%= render partial: "pinterest_setting/policy" %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0   " > <!-- third panel -->
    <div class="wrapper-tile">
      <div class="panel panel-default tile main-tile" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
        <div class="panel-body" >

          <!-- title with line -->
          <div class="row row-bordered">
            <div class="col-xs-12">
              <h3 class=" text-center text-primary"> <strong>Public Information</strong> </h3>
            </div>
          </div>


          <!-- content with bottom line -->
          <div class="row row-bordered ">
            <div class="col-xs-12 text-justify">
              <div class="text-center">
                <br>
                <i class="fa fa-check-circle fa-5x" style="color:forestgreen;" aria-hidden="true"></i>

                <br><br>
                <h4 style="padding-bottom: 2rem;">Good! Your profile is 100% Private</h4>

              </div>
            </div>
          </div>

          <div class="row" style="padding-top: 2rem;">
            <div class="col-xs-12 ">

              <!-- button and modal -->

              <button type="button" class="btn btn-primary alignright" data-toggle="modal" data-target=".public-modal">Show more</button>

              <div class="modal fade public-modal" tabindex="-1" role="dialog" aria-labelledby="modal public">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <%= render partial: "pinterest_setting/public" %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





      </div>
      </div>
</div>
    <!-- End:Container-->
  <!-- End:Container-fluid -->

