<div class="container-fluid" style="background-color: #fff; height:100%;">
  <div class="row">


    <div class="row hidden-xs hidden-sm" style="height: 10rem;"></div>
    <div class="row hidden-md hidden-lg hidden-xl" style="height: 2rem;"></div>
    <div class="about-font ">
      <h1 style="color: #3498db;">Social networks <span style="color: #2E2F30">Privacy Dashboard </span></h1>
      <h4 style="text-align: center;"> A dashboard prototype to manage all your privacy on social networks</h4>

    </div>

  </div>

  <div class="row hidden-xs hidden-sm" style="height: 15rem;"></div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

    <div class="col-md-4 ">
      <div >

        <div class="maxwidth" >
          <h4 style="text-align: center">
            <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i> <br><br><br>
            <b class="about-font">Scope <br> <br></b></h4>
         <p style="text-align: justify; font-size: 16px;">The scope of this dashboard prototype is to show different design ideas for an application to manage all the aspects of a person's social networks privacy settings</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div >

        <div class="maxwidth">
          <h4 style="text-align: center">
            <i class="fa fa-user fa-5x" aria-hidden="true"></i> <br><br><br>
            <b class="about-font">Author <br><br></b></h4>
          <p style="text-align: center; font-size: 16px;"> <b>Angelo Guglielmetti</b> <br> Information Management <br> Fribourg University </p> </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div >

        <div class="maxwidth">
          <h4 style="text-align: center">
            <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i> <br><br><br>
            <b class="about-font">Context <br><br></b></h4>
          <p style="text-align: justify; font-size: 16px;"> The development of this prototype is part of the master thesis I'm writing at the Fribourg university</p>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>