#wrap {
    padding:2em;
    padding-top: 0rem;
}
.panel.panel-horizontal {
    display:table;
    width:100%;

}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;

}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 15rem ;
    border:0;
    vertical-align: middle;

}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;

}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

@media ( max-width: 767px ) {
    #wrap {
        padding:0em;
        padding-top: 0rem;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
}