.container-panel {
    margin-top: 10px;
}

.panel.panel-pink {
    border-radius: 0px;
    box-shadow: 0px 0px 10px #888;
    border-color: #EF5160;
}
.panel.panel-pink .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #EF5160;
}
.panel.panel-pink .panel-body {
    background-color: #F2F2F2;
    color: #4D4D4D;
}

.panel.panel-blue {
    border-radius: 0px;
    box-shadow: 0px 0px 3px #888;
    border-color: #fff;

}
.panel.panel-blue .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #266590;
    font-size: 18px;
    text-align: center;
}

.panel.panel-blue .panel-heading-public {
    border-radius: 0px;
    color: #FFF;
    background-color: #266590;
    font-size: 18px;
    text-align: center;

}
.panel.panel-blue .panel-body {
    background-color: #Fff;
    color: #4D4D4D;
    font-size: 14px;


}
.panel.panel-blue .panel-body-public {
    background-color: #Fff;
    color: #4D4D4D;
    font-size: 14px;
    height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.panel.panel-yellow {
    border-radius: 0px;
    box-shadow: 0px 0px 10px #888;
    border-color: #EFA13D;
}
.panel.panel-yellow .panel-heading {
    border-radius: 0px;
    color: #FFF;
    background-color: #EFA13D;
}
.panel.panel-yellow .panel-body {
    background-color: #F2F2F2;
    color: #4D4D4D;
}