.wrapper-tile {
   min-width: 35rem;
    /* whatever width you want */
    display: inline-block;
    position: relative;
}
.wrapper-tile:after {
    padding-top: 100%;
    /* 16:9 ratio */
    display: block;
    content: '';
}
.main-tile {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */

    /* let's see it! */

}